.left-column {
    width: 10%;
    display: block;
    white-space: nowrap;
}
.middle-column {
    width: 68%;
    height:780px;
    padding-left: 6px;
}
.menu-list-item{
	padding-left:7px;
}
.row_reset{
	margin-left: 0px;
	margin-right: 0px;
}
.col{
    margin-right: 1%;
    float: left;
}

@media only screen and (max-width: 800px) { div{ font-size: 10px; } .left-column {width:22%;} .middle-column {height:400px;}}